<div class="custom-cart-drawer">
  <div id="main-nav" class="js-menu js-menu--right">
    <div class="cart-header">
      <span class="custom-cart-drawer-close">✕</span>
         <p class="basket">BASKET</p>
    </div>
    
  <div class="main-cart-contain"></div>
    <div id="cartItemsContainer"></div>
    
<div class="cart-footer">
  <div class="cart-price">
      <p class="total">SUB TOTEL</p>
        <p class="eee_price"></p>
  </div>
    <div class="cart-drawer-btn">
       <a href="/cart" class="view-my-basket">VIEW MY BASKET</a>
      <div class="cart-drawer-btn-chackout">
         <a href="/checkout" class="chackout-basket">CHACKOUT</a>
      </div>
    </div>
</div>
</div>
</div>
